
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 3rem 0 3rem;
}

.container h3{
    font-family: 'Square Peg', cursive;
    font-size: 3rem;
    font-weight: bolder;
}

.container i{
    font-size: 1.5rem;
}