<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">
                   <h4>Car Salone <i class="fa-solid fa-truck-pickup"></i> </h4>
                </div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright © 2022 | Faris Sabic</p>
            </div>
        </div>
    </div>
</footer>
